@import url(../css/reset_style.css/style_reset.css);

body {
  min-width: 1346px;
  font-family: Poppins;
  color: #161414;
}

:root {
  --container-max-width: 1346px;
  --container-padding: 0 15px;
  --container-margin: 0 auto;
  --container-width: 100%;
  --secondary-grey: #5b5b5b;
  --secondary-light-grey: #979797;
  --secondary-lilac: #5243c2;
  --secondary-white: #ffffff;
}

.background__header {
  position: relative;
  max-width: 100%;
  min-height: 800px;
}

.header {
  background: url(../img/header/background.jpg);
  background-size: contain;
  max-width: 100%;
  min-height: 800px;
  margin-bottom: 120px;
  border-bottom: solid 0px;
  border-bottom-left-radius: 54px;
  border-bottom-right-radius: 54px;
}

.container {
  margin: var(--container-margin);
  max-width: var(--container-max-width);
  padding: var(--container-padding);
  width: var(--container-width);
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 270px;
  padding-top: 31px;
}

.nav__items {
  margin: 0 10px;
}

.logo {
  display: flex;
  align-items: center;
  position: relative;
}

.logo__icon {
  position: absolute;
  left: 41px;
  bottom: 8px;
}

.site__logo {
  font-weight: 700;
  color: var(--secondary-white);
}

.menu__items {
  display: flex;
}

.menu__items li {
  font-weight: 300;
  opacity: 0.7;
  margin-right: 54px;
  color: var(--secondary-white);
  font-size: 14px;
}

.menu__items li:first-child {
  opacity: 100%;
  font-weight: 400;
}

.menu__items li:last-child {
  margin-right: 0;
}

.menu__items li:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
}

.active-button {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
}

.profile {
  display: flex;
  align-items: center;
  position: relative;
}

.user-avatar {
  border-radius: 50%;
  margin-left: 8px;
}

.status {
  position: absolute;
  right: 0px;
  top: 0px;
}

.profile__name {
  font-size: 14px;
  color: var(--secondary-white);
  text-transform: capitalize;
}

.welcome-word {
  text-align: end;
  font-weight: 400;
  opacity: 0.5;
  line-height: 21px;
}

.username {
  font-weight: 600;
}

.globe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 279px;
  height: 72px;
  color: var(--secondary-white);
  font-weight: 600;
  font-size: 18px;
  padding: 24px 26px;
  outline: solid 0px;
  border-radius: 12px;
  background-color: var(--secondary-lilac);
  margin: 0 auto;
  margin-bottom: 195px;
}

.globe-btn:active {
  transform: translateY(2px);
}

.text__btn {
  margin-left: 8px;
}

.search-row {
  outline: solid 0px;
  background-color: var(--secondary-white);
  border-radius: 12px;
  padding: 14px 8px 14px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  margin: 0 auto;
  line-height: 16px;
}

.search-row h1 {
  font-weight: 300;
  font-size: 14px;
  color: var(--secondary-grey);
}

.search-row p {
  font-weight: 500;
  font-size: 16px;
}

.location {
  display: flex;
  align-items: center;
}

.location__icon {
  margin-right: 16px;
}

.activity {
  display: flex;
  align-items: center;
}

.activity-icon {
  margin-right: 16px;
}

.when {
  display: flex;
  align-items: center;
}

.when__icon {
  margin-right: 16px;
}

.guests {
  display: flex;
  align-items: center;
}

.guests__icon {
  margin-right: 16px;
}

.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: solid 0px;
  background-color: #7b61ff;
  border-radius: 12px;
  width: 60px;
  height: 60px;
}

.popular-destinations__title {
  margin-bottom: 64px;
}

.popular-destinations__title h1 {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
}

.popular-destinations {
  margin-bottom: 120px;
}

.cards {
  display: flex;
  align-items: center;
}

.card {
  margin-right: 32px;
}

.card:last-child {
  margin-right: 0;
}

.cards img {
  max-width: 100%;
  width: 203px;
  height: 181px;
  margin-bottom: 8px;
  border-radius: 12px;
}

.card h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.cards p {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: var(--secondary-light-grey);
}

.hotels-restaurants__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}

.hotels-restaurants__title h1 {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
}

.hotels-restaurants {
  display: flex;
  align-items: center;
  margin-bottom: 120px;
}

.hotel-photo {
  max-width: 100%;
  width: 320px;
  height: 380px;
  border-radius: 12px;
  margin-bottom: 10px;
}

.hotel__block {
  margin-right: 32px;
}

.hotel__block:last-child {
  margin-right: 0;
}

.hotel__block h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.hotel__block p {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}

.hotel__location {
  display: flex;
  justify-content: space-between;
}

.location__check-mark-address {
  display: flex;
  gap: 4px;
}

/* Bug check */

.travel-advice__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}

.title h1 {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
}

.view-all__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.all {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--secondary-lilac);
}

.all:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
}

.travel-advice {
  display: flex;
  min-height: 380px;
  margin-bottom: 120px;
}

.travel__left-column {
  margin-right: 32px;
  display: flex;
}

.travel__photo img {
  width: 300px;
  height: 380px;
  border-radius: 24px;
}

.travel__photo {
  margin-right: 32px;
}

.description__title h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 16px;
}

.description__text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--secondary-grey);
}

.description__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.travel__post-info {
  display: flex;
}

.row {
  display: flex;
  margin-right: 24px;
}

.row img {
  margin-right: 4px;
}

.row p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(--secondary-light-grey);
}

.row:last-child {
  margin-right: 0;
}

.travel__right-column {
  display: flex;
}

.activities-card__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}

/* bugged element */
.activities-card {
  display: flex;
  align-items: center;
  margin-bottom: 120px;
}

.activities-card p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.activities-card-photo {
  margin-right: 32px;
}

.activity-photo:last-child {
  margin-right: 0;
}

.activities-card-photo img {
  max-width: 100%;
  margin-bottom: 16px;
  border-radius: 12px;
}

.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 116px;
  margin-bottom: 240px;
}

.about__text {
  margin-right: 32px;
}

.about__title h1 {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 32px;
}

.about__description p {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--secondary-grey);
  margin-bottom: 32px;
}

.about__view-all__block {
  display: flex;
  align-items: center;
}

.about__photo img {
  border-radius: 24px;
}

.footer {
  padding-bottom: 120px;
}

.footer a:hover {
  color: var(--secondary-lilac);
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
}

.footer__block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__social {
  max-width: 354px;
}

.footer__logo h1 {
  color: #161414;
  font-weight: 700;
  font-size: 18px;
}

.footer__logo {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 16px;
}

.footer-logo__icon {
  position: absolute;
  left: 45px;
  bottom: 8px;
}

.social__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: var(--secondary-grey);
  margin-bottom: 32px;
}

.social__links {
  display: flex;
  gap: 32px;
}

.about__heading h1 {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.about__links p {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}

.company__heading h1 {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.company__links p {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}

.support__heading h1 {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.support__links p {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}

.newsletter__heading h1 {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 20px;
}

.newsletter__input {
  display: flex;
  align-items: center;
}

input[type="email"] {
  padding: 10px;
  font-weight: 500;
  font-size: 16px;
}

.input__btn {
  width: 62px;
  height: 62px;
  background-color: var(--secondary-lilac);
  border-radius: 12px;
}

.input__icon {
  margin: 0 5px;
}
